<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9ed99381-e416-4991-9f6a-e228c333c995/resourceGroups/Joswald/providers/Microsoft.Web/sites/zoobitat</ResourceId>
    <ResourceGroup>Joswald</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://zoobitat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c931b795-10a1-4a1a-84d6-37101cd35e07</ProjectGuid>
    <PublishUrl>https://zoobitat.scm.azurewebsites.net/</PublishUrl>
    <UserName>$zoobitat</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>